body{
    font-family:'Open Sans';
    font-style:condensed;
    background-color:rgb(243, 166, 24);

}
#container{
	width: 100%;
    text-align:center;
    display: flex;
    justify-content: space-around;
}
.type{
	width: 150px;
	border-radius: 5px 5px 0px 0px;
	background-color: #0c366d;
	height: 42px;
	border-bottom: 3px solid #0c366d;
}
.type p{
	font-family:'Open Sans';
    font-weight: 800;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 10px;
}
.plan{
	width: 150px;
	background-color: #2b2937;
    font-family:'Open Sans';
    font-size: 30px;
    color: white;
    text-align: center;
}
.expense{
	background-color: #1abc9c;
	border-bottom: 3px solid #1abc9c;
}
.income{
	background-color: #5d6a9a;
	border-bottom: 3px solid #5d6a9a;
}
.header{
	border-bottom: 1px solid #494a5a;
}
#wrapper{
    padding: 2px;
    background: #0c366d;
}
#brand{
    display: flex;
    width: 100%;
    background-image: linear-gradient(340deg, #329DE3 0%, #f19f06 100%);
}
#brand > img{
    border-radius: 50%;
    width: 6%;
    height: 6%;
    margin-left: 50px;
    margin-top: 15px;
}
#brand > h1{
    font-size: 30px;
    margin-left: 80px;
    margin-top: 5px;
}
button{
    margin-top: 30px;
    margin-left: 80px;
    width: 150px;
    height: 35px;
    font-size: 20px;
    background: rgba(255,255,255,0.35);
    background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
}
#ledgerBtn{
    margin-left: 350px;
}
span > p {
    font-size: 15px;
}

#entry{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 350px;
    height: 200px;
    float: left;
    margin: 50px;
    margin-left: 10px;
    padding: 20px;
}
#form{
    margin: auto;
}

#myTable{
    width: 500px;
}

#myTable, td{
    border: 1px solid black;
}

#dynamic{
 display: flex;
 justify-content: space-evenly;
}

#tableContainer{
    margin: 50px;
}