body{
    background-color:rgb(243, 166, 24);
    font-family: 'Montserrat', sans-serif;
}
#navWrapper{
    width: 100%;
    padding: 2px;
    background: #0c366d;
}
#brand{
    display: flex;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(340deg, #329DE3 0%, #f19f06 100%);
}
#brand > img{
    border-radius: 50%;
    width: 10%;
    height: 10%;
}
#brand > h1{
    font-size: 50px;
    margin-left: 80px;
    margin-top: 15px;
    
}
#form{
    width: 50%;
    margin: auto;
    background: rgba(255,255,255,0.35);
    background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    border-radius: 7px;
    -webkit-border-radius: 7px;
}
#form > div{
    margin: auto;
    width: 40%;
}
input{
    width: 250px;
    height: 30px;
    padding: 10px;
}
#signup > h1{
    text-align: center;
    font-size: 40px;
}
#signup > p{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#container{
    width: 400px;
    margin:auto;
    
}
#container > h3{
    text-align: center;
}

button{
    margin-top: 30px;
    margin-left: 100px;
    width: 100px;
    height:40px;
    font-size: 20px;
    background: rgba(255,255,255,0.35);
    background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    border: 2px solid black;
    border-radius: 5px;
}
::placeholder{
    font-size: 20px;
}

/* Small Mobile */
@media only screen and (min-width: 325px){
    #navWrapper{
        width: 128%;
        padding: 2px;
        background: #0c366d;
    }
    #brand{
        display: flex;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 14%;
        height: 14%;
        margin-top: 2px;
        margin-left: 5px;
    }  
        #brand > h1{
        font-size: 20px;
        margin-left: 30px;
        margin-top: 22px;
        
    }
    button{
        margin-top: 22px;
        margin-left: 20px;
        width: 80px;
        height:20px;
        font-size: 10px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        border: 1px solid black;
        height: 400px;
        width: 130%;
        margin: auto;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 100%;
    }
    input{
        margin-left: 10px;
        width: 358px;
        height: 30px;
    }
    #signup > h1{
        margin-left:90px;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 50px;
    }
    #register{
        width: 300px;
        height: 45px;
        margin-left: 50px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
}

/* Mobile */
@media only screen and (min-width: 480px){
    #navWrapper{
        width: 100%;
        padding: 2px;
        background: #0c366d;
    }
    #brand{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 10%;
        height: 10%;
        margin-top: 5px;
        /* margin-left: 20px; */
    }  
        #brand > h1{
        font-size: 20px;
        /* margin-left: 120px; */
        /* margin-top: 22px; */
        
    }
    button{
        margin-top: 13px;
        /* margin-left: 100px; */
        width: 100px;
        height:30px;
        font-size: 20px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
       
    #form{
        border: 1px solid black;
        height: 400px;
        width: 100%;
        /* margin-left: 12px; */
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        /* margin-left: 35px; */
        width: 100%;
    }
    input{
        margin: auto;
        width: 370px;
        height: 40px;
        margin-left: 35px;

    }
    #signup > h1{
        margin-left: 40px;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 50px;
    }
    #register{
        width: 300px;
        margin-left: 80px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
}


/* b/w tablet & Mobile */
@media only screen and (min-width: 650px){
    #navWrapper{
        width: 100%;
        padding: 2px;
        background: #0c366d;
    }
    #brand{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 10%;
        height: 10%;
        margin-top: 5px;
        /* margin-left: 20px; */
    }  
        #brand > h1{
        font-size: 30px;
        /* margin-left: 120px; */
        /* margin-top: 22px; */
        
    }
    button{
        margin-top: 22px;
        /* margin-left: 100px; */
        width: 150px;
        height:30px;
        font-size: 20px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        border: 1px solid black;
        height: 400px;
        width: 98%;
        /* margin-left: 100px; */
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 100%;
    }
    input{
        margin-left: 20px;
        width: 550px;
        height: 30px;
    }
    #signup > h1{
        margin-left: 50px;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 50px;
    }
    #register{
        width: 300px;
        margin-left: 205px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
}
/* Tablet */
@media only screen and (min-width: 768px){
    #navWrapper{
        width: 100%;
        padding: 2px;
        background: #0c366d;
    }
    #brand{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 10%;
        height: 10%;
        margin-top: 2px;
        /* margin-left: 20px; */
    }  
        #brand > h1{
        font-size: 30px;
        /* margin-left: 120px; */
        /* margin-top: 22px; */
        
    }
    button{
        margin-top: 30px;
        /* margin-left: 40px; */
        width: 120px;
        height:35px;
        font-size: 15px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        border: 1px solid black;
        height: 400px;
        width: 100%;
        /* margin-left: 110px; */
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 100%;
    }
    input{
        margin-left: 40px;
        width: 640px;
        height: 40px;
    }
    #signup > h1{
        text-align: center;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 50px;
    }
    ::placeholder{
        font-size: 20px;
    }
    #register{
        width: 500px;
        margin-left: 120px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
}

/* # Desktop */
@media only screen and (min-width: 992px){
    #navWrapper{
        width: 100%;
        padding: 2px;
        background: #0c366d;
    }
    #brand{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 10%;
        height: 10%;
        margin-top: 2px;
        /* margin-left: 20px; */
    }  
    #brand > h1{
        font-size: 30px;
        /* margin-left: 120px; */
        /* margin-top: 22px; */
        
    }
    button{
        margin-top: 30px;
        /* margin-left: 40px; */
        width: 120px;
        height:35px;
        font-size: 15px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        border: 1px solid black;
        height: 350px;
        width: 98%;
        /* margin-left: 110px; */
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 100%;
    }
    input{
        margin-left: 150px;
        width: 640px;
        height: 30px;
    }
    #signup > h1{
        margin-left: 20px;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 50px;
    }
    ::placeholder{
        font-size: 20px;
    }
    #register{
        width: 500px;
        margin-left: 230px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
}

/* # b/w desktop & Huge */
@media only screen and (min-width: 1020px){
    #brand{
        display: flex;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 9%;
        height: 9%;
        margin-top: 10px;
        margin-left: 30px;
    }  
        #brand > h1{
        font-size: 50px;
        margin-left: 120px;
        margin-top: 22px;
        
    }
    button{
        margin-top: 30px;
        margin-left: 90px;
        width: 150px;
        height:40px;
        font-size: 20px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        height: 340px;
        width: 75%;
        margin: auto;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 700px;
    }
    #submit{
        margin: auto;
        width:35%;
        max-width:35%;
    }
    input{
        width: 670px;
        height: 30px;
        margin: auto;
        border-radius: 2px;
        font-size: 25px;
    }
    #signup > h1{
        text-align: center;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 15px;
    }
    ::placeholder{
        font-size: 20px;
    }
    #register{
        width: 500px;
        height: 50px;
        margin-left: 100px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
} 

/* # Huge */
@media only screen and (min-width: 1280px){
    #brand{
        display: flex;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 9%;
        height: 9%;
        margin-top: 2px;
        margin-left: 100px;
    }  
        #brand > h1{
        font-size: 50px;
        margin-left: 120px;
        margin-top: 22px;
        
    }
    button{
        margin-top: 35px;
        margin-left: 100px;
        width: 150px;
        height:40px;
        font-size: 20px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        height: 340px;
        width: 70%;
        margin: auto;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 700px;
    }
    #submit{
        margin: auto;
        width:35%;
        max-width:35%;
    }
    input{
        width: 700px;
        height: 30px;
        margin: auto;
        border-radius: 2px;
        font-size: 25px;
    }
    #signup > h1{
        text-align: center;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 15px;
    }
    ::placeholder{
        font-size: 20px;
    }
    #register{
        width: 500px;
        height: 50px;
        margin-left: 100px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
} 

@media only screen and (min-width: 1500px){
    #brand{
        display: flex;
        width: 100%;
        margin: auto;
    }
        #brand > img{
        border-radius: 50%;
        width: 7%;
        height: 7%;
        margin-top: 8px;
        margin-left: 160px;
    }  
        #brand > h1{
        font-size: 50px;
        margin-left: 250px;
        margin-top: 35px;
        
    }
    button{
        margin-top: 40px;
        margin-left: 200px;
        width: 200px;
        height:50px;
        font-size: 20px;
        font-weight: bold;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
        
    #form{
        border: 1px solid black;
        height: 400px;
        width: 90%;
        margin: auto;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
    }
    #form > div{
        margin: auto;
        width: 855px;
        max-width: 855px;
    }
    input{
        margin-left: 10px;
        width: 830px;
        height: 30px;
        border-radius: 5px;
        font-size: 25px;
    }
    #signup > h1{
        text-align: center;
        font-size: 30px;
    }
    
    #container{
        width: 400px;
        margin:auto;
        
    }
    #name{
        margin-top: 50px;
    }
    ::placeholder{
        font-size: 20px;
    }
    #register{
        width: 500px;
        height: 50px;
        margin-left: 200px;
        border-radius: 5px;
        background: rgba(255,255,255,0.35);
        background-image: linear-gradient(135deg, #f19f06 0%, #329DE3 100%);
        border: 2px solid black;
        font-size: 20px;
        font-weight: bold;
    }
}